* {
    padding:0;
    margin: 0;
    box-sizing: 0;
}

body {
    background-color: rgba(0,54,77);
    font-family: Helvetica, Arial, sans-serif;
}

main {    
    display:flex;
    justify-content: center;
    align-content: center;
    margin-top:300px;
}

:root {
    --darkBlue: rgb(2, 81, 115);
    --buttonBlue: rgb(126, 155, 255);
    --buttonPressed: rgb(104, 130, 222); 
}

.donut {
    width:80px;
}

.information {
    display: flex;
    justify-content: center;
    align-items: center;
}

.playerText {
    margin-bottom: 10px;
}

.playerState {
    display:flex;
  
    flex-direction: column;
    align-items: center;
    height:200px;
}

.currentPlayerText {
    margin-left:  10px;
}

.currentPlayer1, .currentPlayer2 {

    width:180px;
    display:flex;
    flex-direction: row;
    align-items: center;
}


.player1{
    display:flex;
    flex-direction: column;
    align-items: center;

}

.playerSelection, .player2Input, .playerComputer {
    display:flex;
    flex-direction: column;
    align-items: center;

}







.textHolders {
    background:white;
    width:180px;
    height:30px;
    line-height:30px;
    text-align: center;
    border-radius: 30px;


}

.holder {
    background: var(--darkBlue);
    opacity: 1;
    width:600px;
    display:grid;
    border-radius:10px;
    color:white;



    grid-template-columns: 300px 300px ;
    grid-template-rows: 280px 60px;


}

.playerInputText {
    background:none;
    border:0;

}

.startButton {
    margin-top:5px;
}

.startButton,.resetButton {
    width:100px;
    height:30px;
    border-radius:30px;
    border:0;
    cursor: pointer;
}

.select {
    border:0;
    width:100px;
    height:30px;
    border-radius:30px;
    cursor:pointer;
    margin-top: 10px;
} 

.computerDonut, .humanDonut {  
    background-position: center;
    cursor:pointer
} 

.currentPlayer2{
    background:rgb(200, 200, 200);
    border-radius: 10px;
}

.currentPlayer1 {
    border-radius: 10px;
} 


.select, .startButton, .resetButton {
    background: var(--buttonBlue)
}

.select:hover,.startButton:hover, .resetButton:hover {
    background: var(--buttonPressed)
}

.resetButton {
    margin-top:10px;
}



.grid {
    background: url("images/donutBox.svg");
    background-repeat: no-repeat;
    height:800px;
    width:600px;
} 

.gridHolder {
    display:flex;
    justify-content: center;
} 

.information {
    width:290px;
    height:250px;
    position:relative;
    left:130px;
    top:110px;
}

.board {
    width:290px;
    height:250px;
    position:relative;
    top:180px;
    left: 130px;
    display:grid; 
    grid-template-columns: 1fr 1fr 1fr;
}

.peice {
    cursor: pointer;
}

.pinkDonut, .xDonutDisplay{  
    opacity:1;
} 

.computerDonut:hover {
    opacity: 0.8;
} 

.playerInputText:focus {
    outline :none;
} 

.peice:hover{
   opacity:0.8;
}

.exitButton {
    width:100px;
    height:30px;
    cursor:pointer;
    border-radius: 30px;
    border:none;
    background-color:var(--buttonBlue);
}
.exitButton:hover {
    background: var(--buttonPressed)
}
.playerComputer {
    display:flex;
} 

.playerSelection {
    display:flex;
}

.playerComputer {
    display:none;
}

.player2Input {
    display:none;
}

.humanDonut {
    display:none;   
}


.winOrLoseState {
    display:none;
} 

.gridHolder {
    display:flex;
}

.exit {
    border:none;
    background:var(--buttonBlue);
    cursor:pointer;
    width:20px;
    height:20px;
    border-radius:100%;


}

.exit:hover {
    background:var(--buttonPressed);
}


main {
    display:flex;
} 

@media only screen and (max-width: 610px) {
    .holder {
        width:500px;
        grid-template-columns: 250px 300px;
    }
  }

  @media only screen and (max-width: 610px) {
    .pinkDonut, .humanDonut, .computerDonut,.xDonut  {
        width:150px;
    }

    .holder {
        width:400px;
        grid-template-columns: 200px 200px;
        grid-template-rows: 280px;
    }

    .startButton {
        margin-bottom:20px;
    }
  }

@media only screen and (max-width: 560px) {
    .grid {
        width:500px;
    }

    .board, .information {
        width:240px;
        height:190px;
    }

    .donut {
        width:80px;
        height:60px;   
    }

    .board {
        top:210px;
        left:120px;
    }

    .information {
        left : 120px;
    }

  }


  @media only screen and (max-width: 485px) {
    .grid {
        width:400px;
    }

    .donut {
        width:40px;
        height:40px;
    }

    .playerState {
        height:160px;
    } 

    .board, .information {
        width:180px;
        height:150px;
    }

    .board {
        top:170px;
        left:110px;
    }

    .information {
        top:90px;
        left : 110px;
    }
  }

  @media only screen and (max-width: 500px) {
    .pinkDonut, .humanDonut, .computerDonut,.xDonut {
        width:100px;
    }
    .playerInputText {

        width:100px;
    }

    .playerText {
        font-size:large;
    }

    .textHolders {
        width:130px;
    }

    .holder {
        width:300px;
        height:210px;
        grid-template-columns: 140px 170px;
        grid-template-rows: 180px;
    }

    .startButton {
        margin-bottom:20px;
    }
  }

  @media only screen and (max-width: 395px) {
    .grid {
        width:300px;
        height:500px
    }

    .board, .information {
        width:140px;
        height:120px;
    }

    .donut {
        width:25px;
        height:25px;
    }

    .resetButton{
        margin-top:5px;
        width:80px;
    }

    .board {
        top:120px;
        left:80px;
    }

    .playerState {

        width:140px;
        height:120px;
    }

    .donut {
        width:45px;
    }

    .currentPlayerText {
        font-size: medium;
    }

    .currentPlayer1, .currentPlayer2 {
        width:120px;
    }

    .information {
        top:70px;
        left : 80px;
    }
  }

  

  @media only screen and (max-width: 340px) {
    .pinkDonut, .humanDonut, .computerDonut,.xDonut {
        width:100px;
    }

    .playerInputText {
        width:60px;
    }
    .playerText {
        font-size:medium;
    }
    .textHolders {
        margin-top:10px;
        width:100px;
    }

    .select {
   
        width:80px;
    }

    .holder {
        width:220px;
        height:210px;
        grid-template-columns: 110px 100px;
        grid-template-rows: 180px;
    
    }
    .startButton {
        margin-bottom:20px;
       
    }
    .exitButton {
        margin-top:10px;
    }

    .gridHolder {
        display:flex;
    }
    
 

    .playerText {
        font-size: small;
    }
    
  }



  @media only screen and (max-width: 300px) {
    .grid {
        width:250px;
        height:500px
    }

    .board, .information {
        width:120px;
        height:110px;
    }

    .resetButton {
        height:20px;
        width:50px;
        font-size: 11px;
    }

    .playerState {

        height:110px
    }

    .board {
        top:80px;
        left:60px;
    }

    .information {
        top:50px;
        left : 60px;
    }

  }